.cmp-of-selectable-items  .items
{
	display: flex;
}

.cmp-of-selectable-items  .items > *
{
	border: var(--brd);
	background-color: var(--bgc);
}
.cmp-of-selectable-items  .items > *.selected
{
	border: var(--brd-s);
	background-color: var(--bgc-s);
}
.cmp-of-selectable-items  .items > *:hover
{
	border: var(--brd-h);
	background-color: var(--bgc-h);
}


#cmp-sorter
{
}

#cmp-sorter  .items > *
{
	padding: 1em;
}

#cmp-sorter  .items > *.asc::after
{
	content: " \2191";
}

#cmp-sorter  .items > *.desc::after
{
	content: " \2193";
}


#cmp-list
{
	display: flex;
	flex-direction: column;
}

#cmp-list  dl
{
	background-color: #333;
}

#cmp-list  dt
{
	border-bottom: var(--brd);
}

#cmp-list  dd
{
	background-color: #555;
}
	

#cmp-pager
{
}

#cmp-pager  .items > *
{
	padding: 1em;
}


#cmp-selected
{
	display: flex;
	flex-wrap: wrap;
}

#cmp-selected  div
{
	padding: 0.5em 1.5em;

	border: var(--brd);
	background-color: var(--bgc);
}

#cmp-selected  div.reset
{
	background-color: #f005;
}

#cmp-selected  div:hover
{
	border: var(--brd-h);
	background-color: var(--bgc-h);
}



/* struct */

#cmp-sorter
{
	margin-top: 2em;
}